.content{
    margin: 30px;
    padding: 20px;
    background-color: #bbbbbb;
}
body{
    background-color: #444;
}

.input-container{
    background-color: rgba(220,220,220,0.7);
    padding: 10px;
    margin: auto;
    max-width: 40vw;
    align-self: center;
}

input{
    margin: 3px;
}
